.mainContainer {
  /* border: 2px solid purple; */
}

.userDetailContainer {
  border: 2px solid blue;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.userAboutContainer {
  /* border: 2px solid green; */
  display: flex;
  margin: 1rem;

  /* justify-content: space-between; */
  width: 100%;
  /* margin: auto; */
}

.userProPic {
  border: 1px solid blue;
  border-radius: 5rem;
  margin: 0rem 1rem;

  /* font-family: "DM Serif Display", serif;
  font-family: "Familjen Grotesk", sans-serif; */
}

.textDetail {
  /* border: 2px solid hotpink; */
}

.name {
  font-family: "DM Serif Display", serif;
  font-size: 1.4rem;
}

.userName {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1rem;
  color: gray;
}

.bioNlink {
  /* border: 1px solid skyblue; */
  margin-top: 0.5rem;
}

.bio {
  /* font-family: "Kalam", cursive; */
  font-family: "Courgette", cursive;
  font-size: 1.1rem;
}

.link {
  /* border: 1px solid red; */
  display: inline-block;
  margin-top: 0.3rem;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
}

.PFFContainer {
  font-family: "Familjen Grotesk", sans-serif;
  font-weight: 600;
  /* border: 2px solid red; */
  padding: 0rem 1rem;
  /* width: 100%; */
  margin: 1rem;
  /* margin: auto; */
  display: flex;
  justify-content: space-between;
}

.hr {
  border-bottom: 1px solid gray;
  width: 70%;
  margin: auto;
}

.btnFollow {
  font-family: "Familjen Grotesk";
  width: 4.5rem;
  height: 2rem;
  background-color: skyblue;
  border: 1.6px solid navy;
  border-radius: 5px;
  position: absolute;
  right: 2rem;
  top: 1.3rem;
}
