.mainContainer {
  /* border: 5px solid green; */
  height: 100vh;
  background-image: url("../../assets/skybg.jpeg");
  background-position: center;
  background-size: cover;
}

.subContainer {
  /* border: 3px dotted blue; */
  height: 30vh;
  background-image: url("../../assets/letsconnect.gif");
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;
  justify-content: space-between; */
}

.btn_sign_up {
  height: 2rem;
  width: 7rem;
  border: 2px solid blue;
  border-radius: 0.5rem;
  font-size: 1.1rem;
  text-align: center;
  cursor: pointer;
  padding-left: 0.7rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.btn_sign_up:hover {
  /* background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 1px 3px,
    #b2f7ef 3px 5px,
    #eff7f6 5px 7px,
    #f7d6e0 7px 9px,
    #f2b5d4 9px 11px
  );
  border: 2px solid blue; */

  background-color: blue;
  border: 3px solid white;
  color: white;
}

.already_account {
  width: 13rem;
  padding: 0.1rem;
  margin: auto;
  margin-top: 1rem;
  border: 1px solid blue;
  border-radius: 0.3rem;
  padding-bottom: 0.3rem;
  color: white;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.already_account:hover {
  border: 1px solid white;
  background-color: rgb(112, 112, 248);
  color: white;
}
