.coloredBookmark {
  color: navy;
  cursor: pointer;
}

.grayBookmark {
  color: gray;
  cursor: pointer;
}
.coloredLike {
  color: red;
  cursor: pointer;
}

.grayLike {
  color: gray;
  cursor: pointer;
}

.mainContainer {
  /* border: 2px solid green; */
  width: 100%;
}

.postCard {
  border: 2px solid blue;
  border-radius: 5px;
  width: 80%;
  padding: 1rem 2rem;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: white;
}

.postProPic {
  border: 1px solid blue;
  border-radius: 5rem;
}

.imgNameUserNameContainer {
  display: flex;
}

.nameUserNameContainer {
  margin-left: 1rem;
}

.name {
  font-family: "DM Serif Display", serif;
  font-size: 1.2rem;
}

.userName {
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 0.85rem;
  color: gray;
}

.date {
  /* border: 1px solid pink; */
  padding: 0.2rem;
  font-family: "Familjen Grotesk", sans-serif;
  font-size: 0.85rem;
  margin-left: 1rem;
  display: inline-block;
  color: gray;
}

.postContent {
  /* font-family: "Archivo Narrow", sans-serif; */
  font-family: "Didact Gothic", sans-serif;
  cursor: pointer;
  font-size: 1rem;
}

.iconContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.likes {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 1.2rem; */
  /* border: 2px solid green; */
}

.editDelete {
  position: relative;
}

.editDeleteModal {
  position: absolute;
  right: 0;
  top: 1.5rem;
  font-family: "Familjen Grotesk", sans-serif;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
}
